*,
*::before,
*::after {
  box-sizing: border-box;
}

html,
body,
#root {
  width: 100%;
  min-height: 100vh;
}

body {
  margin: 0;
  padding: 0;
  overflow-x: hidden; /* 가로 스크롤 및 모바일 화면 잘림 방지 */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}